# Lecture 1 - Introduction to Python

Heavily inspired by a my colleague Anders S. Christensen. Check out his github intros for yourself!

https://github.com/andersx/python-intro

Developed in collaboration with Yosef Knattrup




We go through the fundamentals of Python.

#### Run the code block below by clicking the play-button to the left or by pressing Ctrl+Enter.

In [1]:
print("Hello World")

Hello World

#### You can make a newline in your print with \n:

In [2]:
print("Hello World\nPython is easy")

Hello World
Python is easy

#### Or alternatively use double print:

In [3]:
print("Hello world")
print("Python is easy")

Hello world
Python is easy

## Section 1 - Basic Math Operations

In [4]:
print(3 + 2)

5

In [5]:
print(3 - 2)

1

In [6]:
print(3 * 2)

6

In [7]:
print(3 / 2)

1.5

In [8]:
print(3 ** 2)

9

## Section 2 - Variables and naming

In [9]:
x = 3
y = 2.0

z = x * y

print(z)

6.0

#### Strings can also be variables:

In [10]:
greeting = "Hello World!"

print(greeting)

Hello World!

#### What types of data does Python understand?

In [11]:
x = 3
print(type(x))

<class 'int'>

In [12]:
y = 2.0
print(type(y))

<class 'float'>

In [13]:
z = x * y
print(z)
print(type(z))

6.0
<class 'float'>

#### You cannot combine a string and an integer:

In [14]:
x = "Hello World"
y = 5

z = x + y

print("z =", z)

TypeError: can only concatenate str (not "int") to str

#### But you can add two strings together

In [15]:
x = "Hello World"
y = ", I got some new text!"

z = x + y

print(z)

Hello World, I got some new text!

#### And convert to corret types if they do not match!

In [16]:
x = "Hello World"
y = 5
z = "7"

print("Turning the number into a string: ",x + str(y))
print("Turning the string into a number: ",y+int(z))
print("Turning both into floats: ", float(y)+float(z))

Turning the number into a string:  Hello World5
Turning the string into a number:  12
Turning both into floats:  12.0

#### Variable names: No spaces, Ã¦ Ã¸ Ã¥ or special characters! Use _ for space

#### Legal variable names:

In [17]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

#### Illegal variable names:

In [18]:
my-var = "John"
my var = "John"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (ipython-input-235094052.py, line 1)

## Section 3 - For loops

Often we want to do more than just one thing at a time. For this we can use for-loops.

For-loops can be done with the range(n) funtions.

#### NOTE: Python counts from 0 and not 1! range(n) will give you all the numbers from 0 to ð‘›âˆ’1.

In [21]:
# Print all numbers from 0 to 19
for i in range(20):
  print(i)

print("Does this get repeated?")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
Does this get repeated?

#### Note how everything that is indented gets repeated by the for loop!

#### How does range work?

In [22]:
# Convert the range to a list
print( list(range(10)) )

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Again notice that range() does not include the final number!


#### You can start from any number, by using two optional arguments:

In [23]:
# Print from 10 to 20
print( list(range(10, 21)) )

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

#### Why is this cool? We can make sums:

\begin{equation}
k = \sum_{n=0}^{19} i
\end{equation}

In [26]:
k = 0
for i in range(20):
  #print(i)
  k = k + i

print("k =", k)

k = 190

#### Alternative way to make a sum:

In [27]:
k = sum(range(20))
print("k =", k)

k = 190

## Section 4 - Lists

Lists are a fundamental data structure of Python. A list contains a list of items, for example numbers.

An example of a list with 7 items is given below:

\begin{array}{lrrrrrrr}
\texttt{i}  & 0  & 1 & 2 & 3 & 4 & 5 & 6 \\ \hline
\texttt{my_list} & 3.5 & 2.1 & -2.5 & 1.2 & 6.2 & 5.2 & -8.1
\end{array}

#### We can generate this list with:

In [28]:
my_list = [3.5, 2.1, -2.5, 1.2, 6.2, 5.2, -8.1]
print(my_list)

[3.5, 2.1, -2.5, 1.2, 6.2, 5.2, -8.1]

#### Again be careful and note that the first item in the list has the index $0$, and the last has the index $n-1$.

In [29]:
# The first item in the list
print(my_list[0])

# The "third" item in the list
print(my_list[2])

# The last item in the list
print(my_list[6])

# Another way to get the last item
print(my_list[-1])

# The second last
print(my_list[-2])

3.5
-2.5
-8.1
-8.1
5.2

#### How many elements does our list contain? Use len():

In [30]:
# print length of that list
print(len(my_list))

7

In [31]:
# Example 1: Print some_numbers
for i in range(len(my_list)):
  print(my_list[i])

3.5
2.1
-2.5
1.2
6.2
5.2
-8.1

Instead you can directly loop over the list items like this:

In [32]:
# Example 2: Print some_numbers
for n in my_list:
  print(n)

3.5
2.1
-2.5
1.2
6.2
5.2
-8.1

#### What happens if we ask for a missing element?

In [ ]:
my_list = [3.5, 2.1, -2.5, 1.2, 6.2, 5.2, -8.1]

# Only up to 6 allowed!
print(my_list[7])

#### We can sum over items in a list

\begin{equation}
y = \sum_{i=0}^n x_i
\end{equation}

In [ ]:
my_sum = 0

for i in range(7):

  print(i, my_list[i])
  my_sum = my_sum + my_list[i]

print("my_sum =", my_sum)

#### Lists have serval usefull methods: https://www.w3schools.com/python/python_ref_list.asp

#### And pythons functions that work on lists: https://www.softwaretestinghelp.com/python-list-functions/

#### Functions mostly keep the original list intact. The following are some examples of the most commonly used ones.

In [33]:

print("Alternativ way of getting the sum of a list:",sum(my_list))
print("Finding the minimum:",min(my_list))
print("Finding the maximum:",max(my_list))
print("Finding the length:",len(my_list))
print("Sorting:",sorted(my_list))
print("Sortinging in reverse order:",sorted(my_list,reverse=True))
print("Adding two lists together with +:", my_list + ['a','b','c'])
#The list here is needed because the "enumerate" function is an iterator (Feel free to google, but ignore for a more advanced python course)
print("Adding an index to the list starting from 0", list(enumerate(my_list,0)))
print("Look my list is still the same:",my_list)

Alternativ way of getting the sum of a list: 7.6000000000000005
Finding the minimum: -8.1
Finding the maximum: 6.2
Finding the length: 7
Sorting: [-8.1, -2.5, 1.2, 2.1, 3.5, 5.2, 6.2]
Sortinging in reverse order: [6.2, 5.2, 3.5, 2.1, 1.2, -2.5, -8.1]
Adding two lists together with +: [3.5, 2.1, -2.5, 1.2, 6.2, 5.2, -8.1, 'a', 'b', 'c']
Adding an index to the list starting from 0 [(0, 3.5), (1, 2.1), (2, -2.5), (3, 1.2), (4, 6.2), (5, 5.2), (6, -8.1)]
Look my list is still the same: [3.5, 2.1, -2.5, 1.2, 6.2, 5.2, -8.1]

#### Methods change the array. However, for some cases, a simple copy will still link to the original list and make changes to that. Instead use the .copy() method to make a copy of the list.

In [34]:
my_copy_list = my_list.copy()
my_copy_list.append("a")
print('An "a" has been added to the list: ',my_copy_list)
my_copy_list.remove("a")
print('Remove the "a" again: ',my_copy_list)
my_copy_list.insert(3,"a")
print('Added the "a" at the 4th position', my_copy_list)
my_copy_list.pop(3)
print('Remove the "a" at the 4th position: ', my_copy_list)

An "a" has been added to the list:  [3.5, 2.1, -2.5, 1.2, 6.2, 5.2, -8.1, 'a']
Remove the "a" again:  [3.5, 2.1, -2.5, 1.2, 6.2, 5.2, -8.1]
Added the "a" at the 4th position [3.5, 2.1, -2.5, 'a', 1.2, 6.2, 5.2, -8.1]
Remove the "a" at the 4th position:  [3.5, 2.1, -2.5, 1.2, 6.2, 5.2, -8.1]

#### List can be built using for loops

In [35]:
new_list = []
for x in range(7):
  new_list.append(x**2)
print(new_list)

[0, 1, 4, 9, 16, 25, 36]

#### Or much cleaner using list comprehension: https://www.w3schools.com/python/python_lists_comprehension.asp

In [36]:
new_list = [x**2 for x in range(7)]
print(new_list)

[0, 1, 4, 9, 16, 25, 36]

#### Python supports conditional statements, these can be used anywhere in the code but are particularly useful in loops and list comprehension.
* == checks if two things are equal
* != checks if they are not equal
* \> and < checks if something is less than or larger than something else.
* <= and >= checks if something is less/larger than or equal.

#### Serveral conditional statements can be piced together using:
* "and" All the statements will need to be fulfilled for the code to run.
* "or" will go from left to right and execute the code as soon as a statement is fulfilled.

In [ ]:
new_list = []
for x in range(7):
  if x == 1: #Will only run if x is one
    print('One was hit')
    new_list.append(100000)
  elif x == 2: #If x is not 1 but two do this
    print('Two was hit')
    new_list.append(-100000)
  else:
    print('This code will run if 1 and 2 was not hit')
    new_list.append(x**2)
  print('Current x:', x) #This code will always run
print(new_list)

## Section 5 - Common errors and debugging

Here are some common errors that you definately **will** encounter!

#### Error 1:

In [ ]:
k = 0

# Sum all numbers from 0 to 9
for i in range(10):
  k = k + 1

 print(k)

#### Error 2:

In [ ]:
my_list = [1.0, 2.0, 3.0, 4.0, 5.0]

print("Length of list:", len(my_list))

print(my_list[1])
print(my_list[2])
print(my_list[3])
print(my_list[4])
print(my_list[5])

#### Error 3:

In [ ]:
# Error 3:

y = [3.5, 2.1, -2.5, 1.2, 6.2, 5.2, -8.1]

# print y
print(y)

# print second entry in y
print(y(2)

print("Done!")

#### Error 4:

In [ ]:
for i in range(10)
    print(i)

print "Done!"

## Section 6 - Defining functions

Numpy has some in-build functions such as the exponential function:

\begin{equation}
f(x) = e^{x}
\end{equation}

In [ ]:
import numpy as np

e = np.exp(1.0)

print(e)

#### We can also define the functions ourself:

In [ ]:
def square(x):
  f = x**2
  return f

print(square(2))

#### This can become arbitrarily complex:  

\begin{equation}
f(x) = \sum_{n=0}^{10} x^{n}
\end{equation}

In [ ]:
def power_sum(x):

  f = 0

  for n in range(11):
    f = f + x**n

  return f

print(power_sum(1))
print(power_sum(11))

#### A common error when defining functions. What is wrong here?

In [ ]:
def cubed(x):
  f = x**3

print(cubed(3))